:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: auto auto 1fr;
}

.app-container > .header {
  grid-column: 1 / -1;
  padding: 0.5rem 1rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  height: 60px;
}

.app-container > .toolbar {
  grid-column: 1 / -1;
  padding: 0.5rem 1rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.app-container > .main-content {
  grid-column: 1 / -1;
  background-color: #ffffff;
}

.main-content {
  display: flex;
  flex-direction: row;
  grid-template-rows: 1fr;
}

.main-content > .sidebar-left {
  width: 100%;
  max-width: 300px;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
}
.main-content > .sidebar-right {
  width: 100%;
  max-width: 300px;
  background-color: #f8f9fa;
  border-left: 1px solid #dee2e6;
}
.main-content > .main {
  flex-grow: 1;
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
}
